{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Weaponry</h1>
        </header>
        <nav class="navbar">
            <a href="{% url 'casino' %}" class="navbar-link">Casino</a>
            <a href="{% url 'home' %}" class="navbar-link">Home</a>
            <a href="{% url 'armory' %}" class="navbar-link">Shop</a>
        </nav>          
        <main>
            <div class="content-weaponary">
                <table>
                    <thead>
                        <tr>
                            <th>Gun</th>
                            <th>Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for purchase in user_purchases %}
                            <tr>
                                <td>{{ purchase.gun__name }}</td>
                                <td>{{ purchase.total_quantity }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>        
        <footer>
            <p>&copy; Copyright {% now "Y" %} by <a class="footer-link" href="https://github.com/AnyoneClown">AnyoneClown</a></p>
        </footer>
    </div>
</body>
</html>
