{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Welcome to the home</h1>
        </header>
        <nav class="navbar">
            <a href="{% url 'casino' %}" class="navbar-link">Casino</a>
            <a href="{% url 'armory' %}" class="navbar-link">Shop</a>
            <a href="{% url 'weapons' %}" class="navbar-link">Weapons</a>
            <a href="{% url 'logout' %}" class="navbar-link">Logout</a>
        </nav>          
        <main>
            <div class="content-home">
                {% if user.is_authenticated %}
                    {% if user.role == 1 %}
                        <img src="{% static 'images/mafia.png' %}" alt="Mafia" class="mafia-img"></p>
                    {% elif user.role == 2 %}
                        <img src="{% static 'images/gangsta.png' %}" alt="Gangsta" class="gangsta-img"></p>
                    {% endif %}
                    <p>Hello, {{ user.username }}</p>
                    <p>Role: {{ user.get_role_display }}</p>
                    {% if user.role == 1 %}
                        <p>Rank: {{ user.get_mafia_rank_display }}</p>
                    {% elif user.role == 2 %}
                        <p>Rank: {{ user.get_gang_rank_display }}</p>
                    {% endif %}
                    <p>Balance: {{ user.balance }} $</p>
                {% else %}
                    <p>You are not logged in.</p>
                    <a href="{% url 'login' %}" class="auth-link">Login</a> | <a href="{% url 'register' %}" class="auth-link">Register</a>
                {% endif %}
            </div>
        </main>
        <footer>
            <p>&copy; Copyright {% now "Y" %} by <a class="footer-link" href="https://github.com/AnyoneClown">AnyoneClown</a></p>
        </footer>
    </div>
</body>
</html>
