/* Global styles */

body {
  margin: 0;
  padding: 0;
  font-family: 'Geometria', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #f4f4f4;
  display: flex;
  align-items: center; /* Вертикальное центрирование */
  justify-content: center; /* Горизонтальное центрирование */
  min-height: 100vh; /* Чтобы форма была посередине даже при небольшом контенте */
  background-image: url("/static/images/bg.jpg");
  background-size: cover; /* Розтягнути зображення на весь контейнер */
  background-repeat: no-repeat; /* Заборонити повторення зображення */
  padding: 20px; /* Додати відступи для зручності читання */
}


/* Header styles */

h1 {
  font-size: 3em;
  margin: 20px 0;
  text-align: center;
  color: white;
}

/* footer styles */

footer {
  padding: 20px;
  text-align: center;
  color: white;
  text-decoration: none;
}

.footer-link {
  color: yellow; 
  text-decoration: none; 
}

.footer-link:hover {
  text-decoration: underline; 
}

/* Navbar styles */
.navbar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.navbar-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4e577a;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  margin: 0 10px;
}



/* Login button styles in register */

.login-button {
  margin-top: 10px; /* Відступ зверху */
  font-size: 16px;
  text-align: center;
}

.login-link {
display: inline-block;
padding: 10px 20px;
background-color: #4e577a;
color: #fff;
border: none;
border-radius: 3px;
cursor: pointer;
}


/* Form styles in register*/

/* form {
  background-color: #fff;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 60%;
  max-width: 600px;
  margin: 0 auto;
} */

form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

form input[type="text"],
form input[type="password"],
form input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

form button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4e577a;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 20px;
}

form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


/* Home page styles */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  background-color: #fff;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 1200px;
  margin: 20px auto;
  text-align: center;
  font-size: 16px;
}

.content-home {
  background-color: #fff;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 1200px;
  margin: 20px auto;
  text-align: center;
  font-size: 16px;
  margin-left: -20px;
}

.auth-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4e577a;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  margin: 0 10px;
  margin-top: 10px;
}

.logout-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4e577a;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  margin: 0 10px;
  margin-top: 10px;
}

img.mafia-img,
img.gangsta-img,
img.casino-img {
    max-width: 50px; /* Максимальна ширина зображення */
    height: auto;
}


/* weapon styles */

.content-weapon {
  background-color: #fff;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 800px;
  margin: 20px auto;
  text-align: center;
  font-size: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 50px;
}

.weapon {
  text-align: center;
}

.weapon img {
  width: 150px;
  height: 50px; 
}

.money {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 20%;
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
  font-size: 16px;
}

/* Content styles */
.content-weaponary {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 1200px;
  margin: 20px auto;
  font-size: 16px;
}

.content-organisation {
  background-color: #fff;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 1200px;
  margin: 20px ;
  text-align: center;
  font-size: 16px;
}

.content-login {
  background-color: #fff;
  margin: 10px auto;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 50%;
  font-size: 16px;
}

/* Table styles */
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

th, td {
  padding: 12px 15px;
  text-align: left;
  border: 1px solid #ccc;
}

th {
  background-color: #4e577a;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}